.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 100px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.res-card {
    width: 220px;
    /* height: 300px; */
    padding: 5px;
    background: #f0f0f0;
    border: 1px solid white;
    margin: 5px;
}

.shimmer-card-height {
    height: 300px;
}

.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.search {
    padding: 10px;
}

.res-logo {
    width: 100%;
    height: 50%;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.login {
    padding: 0 2px;
    cursor: pointer;
    margin: 10px;
}